#aside {
  background-color: var(--blue);
  display: flex;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.aside-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.aside-nav-top {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 20px 20px 30px;
  gap: 20px;
  cursor: pointer;
}

.header-logo-title {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}

.aside-nav-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
}

.aside-nav-links-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.aside-nav-logout-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.aside-nav-links-title {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}

.aside-nav-links-box:hover { background-color: var(--white); }

.aside-nav-logout-box:hover { background-color: var(--white); }

.aside-nav-modal {
  cursor: default;
}

.aside-nav-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.aside-nav-bottom-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.aside-nav-bottom-title {
  align-items: center;
  color: var(--white);
  font-size: 8px;
  font-weight: 500;
  line-height: 140%;
}


