#search-wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    height: 100%;
}

.search-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
    gap: 20px;
}

.search-title-box {
    display: flex;
    padding: 0 24px;
    gap: 8px;
}

.search-title {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.search-emphasis {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.search-relation-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
}

.search-relation-card {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    gap: 8px;
}

.search-relation-card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.search-relation-card-title {
    color: var(--black);
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
}

.search-relation-card-contents-nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
}

.search-relation-card-contents {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.search-contents-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 100%;
}

.search-contents {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.search-contents-nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    padding-top: 200px;
}

.search-pagination-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
