#user-top-wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
}

.user-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 40px 20px;
    width: 100%;
    height: 300px;
}

.user-top-information-box {
    display: flex;
    width: 100%;
    padding: 0 24px;
    align-items: center;
    gap: 30px;
}

.user-top-top-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-top-title {
    color: var(--black);
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    padding: 0 24px;
}

.user-top-my-profile-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
    cursor: pointer;
}

.user-top-profile-image {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border-radius: 50%;
}

.user-top-profile-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
}

.user-top-info-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-top-info-username-box, .user-top-info-password-box {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 5px;
}

.user-top-info-username,
.user-top-info-username-input,
.user-top-info-password-input {
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
}

.user-top-info-username-input.active,
.user-top-info-password-input.active {
    border: 1px solid var(--gray);
    border-radius: 4px;
}

.user-top-info-username-input:focus,
.user-top-info-password-input:focus {
    border: 1px solid var(--gray);
    border-radius: 4px;
    cursor: text;
}

.user-top-info-username-input-container, .user-top-info-password-input-container {
    display: flex;
    flex-direction: column;  /* 세로로 배치 */
    align-items: flex-start;  /* 좌측 정렬 */
    position: relative;
}

.username-input-icon, .password-input-icon { cursor: pointer; }

.user-top-info-username-input.error,
.user-top-info-password-input.error {
    border: 1px solid red; /* 에러 시 빨간 테두리 */
}

.username-error-message, .password-error-message {
    color: red;
    font-size: 8px;
    margin-top: 5px;
    position: absolute;
    top: 100%;
}

.username-success-message, .password-success-message {
    color: green;
    font-size: 8px;
    margin-top: 5px;
    position: absolute;
    top: 100%;
}

.user-top-info-follow-box {
    display: flex;
    align-items: center;
    color: var(--black);
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    gap: 20px;
}

.user-top-info-following, .user-top-info-follower {
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.user-top-info-email {
    color: var(--black);
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.user-top-info-phone {
    color: var(--black);
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.user-top-info-update-box {
    display: flex;
    gap: 10px;
    color: var(--black);
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.user-top-info-password-update {
    display: flex;
    align-items: center;
    gap: 5px;
}

#user-bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    height: 100%;
}

.user-bottom-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
}

.user-bottom-contents-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 100%;
}

.user-bottom-top-box {
    display: flex;
    justify-content: space-between;
}

.user-profile-edit-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
}

.user-profile-edit-box:hover {color: rgba(0, 0, 0, 0.5);}

.user-board-write-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
}

.user-board-write-box:hover {color: rgba(0, 0, 0, 0.5);}

.user-follow-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-follow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    gap: 5px;
}

.user-follow-text:hover {color: rgba(0, 0, 0, 0.5);}

.user-bottom-title {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    padding: 0 24px;
}

.user-bottom-board-contents-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-bottom-contents-nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    padding-top: 200px;
}

.user-bottom-contents {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-bottom-pagination-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

