#main-top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    height: 600px;
    margin-bottom: 15px;
}

.main-top-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
}

.main-top-contents-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.main-top-contents-title {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.main-top-contents {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#main-bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    height: auto;
    min-height: 50%;
}

.main-bottom-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
}

.main-bottom-container-box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.main-bottom-contents-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-bottom-title {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    padding: 0 24px;
}

.main-bottom-latest-contents-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-bottom-popular-card {
    padding: 24px;
}

.main-bottom-popular-contents-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.main-bottom-pagination-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}